<h1> Stupid Coaching</h1>

<div class="container"> 
    <%= @question %>
    <p>- You</p>
</div>

<br>
<div class="container">
    <%= @answer %>
    <p>- Your coach</p>
</div>

<div class = "link">
    <%= link_to "Ask a new question", ask_path %>
</div>